.k-brd5zb {
    .banner {
        img {
            width: 100%;
        }
    }

    .add {
        position: fixed;
        bottom: 50px;
        right: 20px;

        img {
            width: 70px;

        }
    }
}